@charset "utf-8";

/* -------------------------------------------- *
 * リセット設定
----------------------------------------------- */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre,
a, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    vertical-align: bottom;
}
label {
    cursor: pointer;
}
